.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background: $white-50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: $primary-color;
  border-radius: 20px;
  margin: auto;
  min-width: 600px;
  height: 600px;
  min-height: 400px;
  padding: 10px;
  position: relative;
}

.backBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all .1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  outline: none;
  background: none;
  border: none;

  &:hover {
    background-color: $white-50;
  }
}
