@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.formContainer {
  width: 365px;
  margin: 20px auto 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  width: 100%;
  text-align: center;
  position: relative;

  p {
    @include font-primary-text;
    position: relative;
    padding: 0 5px;
    margin: auto;
    width: 30px;
    background-color: $primary-color;
    z-index: 3;
  }
}

.divider::before {
  position: absolute;
  display: block;
  content: '';
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  z-index: 0;
  border-bottom: 1px solid $secondary;
}

.formContainer {
  h2 {
    @include font-primary-title;
    font-size: 32px;
    margin: 20px 0;
  }
}

.loginBtn {
  margin: 20px auto;
  width: 220px;
  font-size: 32px;
  font-weight: 600;
  color: $primary-color;
  background-color: $principal-white;
}

.loginInput {
  margin-top: 10px;
  border: 1px solid $white-50;
  border-radius: 5px;
  height: 48px;
  position: relative;

  label {
    position: absolute;
    top: 10px;
    left: 13px;
    color: #71767b;
    z-index: 1;
    font-size: 16px;
    transition: all ease-in .2s;
    font-weight: 300;
  }

  input {
    margin-top: auto;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
    padding: 16px 6px 6px;
    color: $secondary;
    transition: all ease-in .2s;
  }

  input:focus {
    outline: 2px solid $blue;
    border-radius: 5px;
    color: $principal-white;
    z-index: 1;
    font-size: 16px;
    font-weight: 400;
  }

  input:focus+label {
    position: absolute;
    top: 0;
    left: 6px;
    color: #1d9bf0;
    z-index: 1;
    font-size: 12px;
    font-weight: 400;
  }
}

.btnText {
  float: right;
  margin: 11px 11px 0 0;
  color: $white;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.loginContainer {
  width: 250px;
  margin: auto;
}

.fullField {
  label {
    position: absolute;
    top: 0;
    left: 6px;
    color: $white-50;
    z-index: 1;
    font-size: 12px;
    font-weight: 400;
  }

  input {
    border: none;
    color: $principal-white;
    font-size: 16px;
    font-weight: 400;
  }
}

.btnFull {
  width: 100%;
}
